<!DOCTYPE html>
<html data-bs-theme="dark" lang="pt-BR">
  <head>
    <meta charset="UTF-8">
    <%= display_meta_tags site: "Capivaras do Vale", title: "Página Oficial" %>
    <%= display_meta_tags image_src: image_url('cover.jpg') %>
    <%= display_meta_tags description: "Página oficial da banda Capivaras do Vale, banda de rock e pop rock originada na região serrana do estado do Rio de Janeiro, que tem como principal influência o rock nacional e internacional dos anos 80 e 90." %>
    <%= display_meta_tags keywords: %w[banda rock capivaras vale música] %>
    <%= display_meta_tags og: {
                            title: "Capivaras do Vale - Página Oficial",
                            description: "Página oficial da banda Capivaras do Vale, banda de rock e pop rock originada na região serrana do estado do Rio de Janeiro, que tem como principal influência o rock nacional e internacional dos anos 80 e 90.",
                            type: "website",
                            url: "http://capivarasrock.com.br",
                            image: image_url('cover.jpg'),
                          }
    %>

    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
